body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

.box {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}

.buttons button {
  margin-top: 8px;
}

pre {
  background: black;
  color: #0f0;
  padding: 10px;
  max-width: 500px;
  margin: 20px auto;
  height: 180px;
  overflow-y: auto;
}
